extends layout

block css
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/orange-theme.css')
	link(rel='stylesheet', href='/stylesheets/app.css')
	link(rel='stylesheet', href='/stylesheets/magnificpopup.css')

block content
	include includes/head.jade
	#page-content-wrapper
		//.page-content
			h1 First Header
			h2 Second Header
			h3 Third Header
			h4 Fourth Header
			h5 Fifth Header
			h6 Sixth Header
		.page-content
			h2 Make your Calendar
			form#formMakeCalendar(name="makeCalendar", method="post", action="/makeCalendar")
				h4 Semester
					//i.input-help
						i(class="material-icons" data-message="The semester option tells the app which dates to add your events to. It also fills in the calendar name option with some default values if you haven't already edited that option.") help_outline
						div.
							The semester option tells the app which dates to add your events to. It also fills in the calendar name option with some default values if you haven't already edited that option.
				.mdl-selectfield
					select#selectSemester.browser-default(name="selectsemester")
						option(value="none" disabled selected) Select One
						each opt, index in options
							option(value=index) !{opt}

				h4 Calendar Name
				.mdl-textfield
					input#inputName(name="calendarname", type="text")

				h4 Colours

				h6 Calendar Colour
				ul.colorContainer#calendar
				h6 Lecture Colour
				ul.colorContainer#event
				h6 Tutorial/Lab Colour
				ul.colorContainer#event

				h4 Course Information
				textarea#textAreaCourseData(name="coursedata")

				div#submission
					input#buttonSubmit(type="button" value="MAKE CALENDAR")
					div#error(data-display=display data-ok=ok data-error=error)
		.page-content
			include:marked ./../public/markdown/about.md
		include includes/foot.jade
block scripts
	script(type="text/javascript" src="/javascripts/jquery-1.11.3.min.js")
	script(type="text/javascript" src="/javascripts/initializeApp.js")
	script(type="text/javascript" src="/javascripts/imagesetup.js")
	script(type="text/javascript" src="/javascripts/magnificpopup.js")